/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/
* {
    box-sizing: border-box;
  }
  
  :root {
    --rougep: #e5383b;
    --rougebase: #ba181b;
    --noir: black;
    --blanc: white;
    --rougef: #A4161A;
    --gris:#212529;
  }

  @font-face {
    src: url("assets/athena.ttf") format("truetype");
    font-family: "athena";
  }

  body{
    font-family: "athena"; 
  }

  .h1{
    font-family: "athena";
    color: var(--blanc);
    font-weight: bold; 
    font-size: 16px; 
  }

  .h2{
    font-family: "athena";
    color: var(--blanc);
    font-size: 14px;   
  }

  .h3{
    font-family: "athena"; 
    color: var(--blanc); 
    font-size: 12px;  
  }

  .h4{
    font-family: "athena";  
    color: var(--blanc); 
    font-size: 10px; 
  }

  .h5{
    font-family: "athena";
    color: var(--blanc);
    font-size: 8px;   
  }

  .h6{
    font-family: "athena";
    color: var(--blanc);  
    font-weight: lighter;
    font-size: 8px; 
  }

  html,body{
    height:100%;
    background-color: var(--noir);
  }
  

  /*--------------------------------------------------------- 
# Nav Bar
---------------------------------------------------------*/

  /*--------------------------------------------------------- 
# Section Héro 
---------------------------------------------------------*/

  /*--------------------------------------------------------- 
# Section Fonctionnalités 
---------------------------------------------------------*/

  /*--------------------------------------------------------- 
# Nav Bar 2
---------------------------------------------------------*/

  /*--------------------------------------------------------- 
# Research Bar 
---------------------------------------------------------*/

  /*--------------------------------------------------------- 
# Filtres d'oeuvres
---------------------------------------------------------*/

  /*--------------------------------------------------------- 
# Oeuvres en vedette
---------------------------------------------------------*/

  /*--------------------------------------------------------- 
# Autres oeuvres
---------------------------------------------------------*/