.navbar {
  background-color: none;
  position: fixed;
}

.chevronn{
  color:var(--blanc);
}

.chevronl {
  position: relative;
  top:3px;
  font-size: 20px;
  width:7vw;
  height:7vw;
  background-color: var(--rougebase);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

a {
  text-decoration: none;
}

.logo {
  width: 25vw;
  display: none;
}

.notclick {
  position: relative;
  top:3px;
  font-size: 20px;
  color: var(--blanc);
  width:7vw;
  height:7vw;
  background-color: var(--rougebase);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.click{
  position: relative;
  top:3px;
  font-size: 20px;
  width:7vw;
  height:7vw;
  background-color: var(--blanc); 
  color: var(--rougebase);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.footer {
  width: 100vw;
  height: auto;
  background-color: var(--rougef);
  position: relative;
  bottom: 0px;
}

.tim {
  width: 30vw;
}

.oeuvre {
  height: 33vh;
  width: 100vw;
  object-fit: cover;
}

.oeuvre {
  background-image: url("../assets/artworks/1.png");
  background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  height: 33vh;
  overflow: hidden;
  position: relative;
}
/*below show how it works*/
.oeuvre:after {
  content: "";
  width: 450%;
  height: 10%;
  padding-top: 200%;
  border-radius: 100%;
  background: var(--noir);
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.card-titre {
  text-decoration-line: underline;
  text-decoration-color: var(--rougep);
  text-align: center;
}

.geotext {
  position: relative;
  left: 2rem;
}

.calendartext {
  position: relative;
  left: 2rem;
}

.card {
  width: 80vw;
  border-color: var(--rougep);
  background-color: var(--noir);
  color: var(--blanc);
}

.card-title {
  text-decoration-line: underline;
  text-decoration-color: var(--rougep);
}

.accordion-body {
  color: var(--blanc);
  background-color: var(--noir);
}

.date {
  width: 72vw;
}

.accordion-button {
  color: var(--blanc);
  background-color: var(--noir);
  border-color: var(--rougep);
  border-radius: 5px;
}

.accordion-button:not(.collapsed) {
  background-color: var(--rougep);
  color: var(--blanc);
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0.25rem 0.25rem
    rgba(255, 2, 2, 0.482);
  width: 80vw;
}

.modal-content{
  background-color: black;
  color:white;
}

.btnmodal{
  background-color: var(--rougep);
}
