/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/
@font-face {
  font-family: Athena;
  src: url(/assets/athena.ttf) format(truetype);
}

body{
  font-family: Athena;
  overflow-x: hidden;
}

  /*--------------------------------------------------------- 
# Nav Bar
---------------------------------------------------------*/

.navbar{
  background-color: var(--noir);
}
.btn{
  color: var(--blanc);
}

.logo{
  width: 25vw;
}

.footer{
  background-color: var(--rougef);
  width:100vw;
}

.footertext{
  color: white;
  text-decoration: none;
}

.git:hover{
  color: var(--noir);
}


  /*--------------------------------------------------------- 
# Section Héro 
---------------------------------------------------------*/

.apptext{
  width: 200px;
  height: 200px;
}

.app{
 width:100%; 
 aspect-ratio:5/9;
 max-width:400px;
 max-height:600px;
 border-radius: 15px;
 box-shadow: 5px 5px 10px 10px var(--gris);
}

.TextePres{
  font-size: 25px;
  text-align: center;
  color: white;
}

.TexteElek{
  font-size: 50px;
  text-align: center;
  color: white;
}

.download1{
  width: 200px;
}

.download2{
  position:absolute;
  right:40px;
  width: 230px;
}

.ContLeft{
  position:relative;
  width:640px;
  padding: 50px;
  border: 3px solid black;
  border-radius: 15px;
  background-color: var(--noir);
  margin-top: 130px;
}

.ContRight{
  display: flex;
  justify-content: center;
}

.Iphone{
  width: 200px;
}

.textfooter{
  text-align:right;
  color: white;
}

  /*--------------------------------------------------------- 
# Section Fonctionnalités 
---------------------------------------------------------*/
.section-features{
  background-color: var(--gris);
  width: 100%;
}

.TitreFonct{
  color: var(--rougef);
  font-size: 40px;
  padding-top: 40px;
  text-align: center;
}

.ParaFonct{
  color: var(--blanc);
text-align: center;
}

.fonctCard{
  border:none;
  color: var(--blanc);
  background-color: var(--gris);
  text-align: start;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 10px;
}

.foncttitle{
  color: var(--rougep);
}

.icon{
  text-align: left;
  font-size: 30px;
}

  /*--------------------------------------------------------- 
# Section Témoins
---------------------------------------------------------*/

.temoin{
  background-color: var(--gris);
  width:100%;
}

.temCard{
  max-width: 300px;
  height:400px;
  text-align: center;
  margin: 15px;
  border: 3px solid var(--rougebase);
  background-color: var(--noir);
  color: var(--blanc);
}

.quoteicon{
  position: absolute;
  font-size:30px;
  top:-20px;
  left:-20px;
  
  
}

.imgtemoin{
  height:30vh;
  object-fit: cover;
  object-position: 50% 20%;
}

  /*--------------------------------------------------------- 
# Section FAQ
---------------------------------------------------------*/

.FAQ{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 120px;
  padding-right: 120px;
}

.FAQBoite{
  margin-top: 50px;
  margin-bottom: 50px;
}

.accordion{
  --bs-accordion-active-bg:var(--rougep);
}

  /*--------------------------------------------------------- 
# Section Infolettre
---------------------------------------------------------*/

.Info{
  width: 100%;
  background-image: url("assets/background2.jpg");
  object-fit:contain;
}

.InfoBox{
  padding: 30px;
  margin: auto;
  background-color: rgba(186, 24, 27, 0.5);
}

.abonne{
  margin: auto;
}

.mail{
  position: absolute;
  top:calc(28%);
  left:2rem;
  color:black;
}

.form-control{
  left: .5rem;
  padding-left: 3.5rem;
  }

  .modal-content{
    background-color: var(--noir);
    color:var(--blanc);
  }
  
  .btnmodal{
    background-color: var(--rougep);
  }

.imgswiper{
  height:500px;
  border: 10px solid black;
  border-radius: 25px;
  background-color: var(--noir);
  margin-top: 130px;
}

.swiper-slide{
  opacity:50%;
}

.swiper-slide-active{
    opacity:100%;
  }


