/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/
body{
overflow-x:hidden; 
}

  /*--------------------------------------------------------- 
# Nav Bar
---------------------------------------------------------*/

.navbar{
  background-color: var(--noir);
  position: relative;
}

.logo{
  width:25vw;
}

.util{
  width:7vw;
  border-color: var(--noir);
  border-radius: 3px;
}

.footer{
  width: 100vw;
  height: auto;
  background-color: var(--rougef);
  position: relative;
  bottom:0px;
}

.tim{
  width:30vw;
}

  /*--------------------------------------------------------- 
# Research Bar 
---------------------------------------------------------*/
.recherche{
  background-color: var(--noir);
}

.search{
  position: relative;
  width:75vw;
  background-color: var(--noir);

}

.loupe{
  position: absolute;
  top:calc(20%);
  left:2rem;
}

.form-control{
left: .5rem;
padding-left: 3.5rem;
}

  /*--------------------------------------------------------- 
# Filtres d'oeuvres
---------------------------------------------------------*/

.swiper-filters .swiper-slide{
  width:auto;
}

.btn{
  margin: 5px;
}

  /*--------------------------------------------------------- 
# Oeuvres en vedette
---------------------------------------------------------*/

.cardimg{
height: 20vh;
object-fit: cover;
}

.calendaricon{
  color:var(--blanc);
}
.clockicon{
  color:var(--blanc);
}

.artistcard{
  position:absolute;
  width:35px;
}
.infoplus{
position: relative;
top:calc(15%);
}

.chevron{
  color:var(--blanc);
}
.card{
  background-color: var(--noir);
  border-color:var(--rougef);
  border-width: 3px;
  max-width: 200px;
  height:340px;
}

.card:hover{
  opacity: 25%;
}

a{
  text-decoration: none;
}

.card-titre{
  text-decoration-line: underline;
  text-decoration-color: var(--rougep);
}

.swiper-featured-artworks{
overflow: hidden;
}

.card-top{
  position: relative;
  background-color: var(--noir);
  border-color:var(--rougef);
  border-width: 10px; 
}

.card-top:hover{
  opacity: 25%;
}

.artistcard2{ 
  width:35px;
}

  /*--------------------------------------------------------- 
# Autres oeuvres
---------------------------------------------------------*/