/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/



  /*--------------------------------------------------------- 
# Nav Bar
---------------------------------------------------------*/

.navbar{
  background-color: var(--noir);
}

.logo{
  width: 25vw;
}

.text{
  background-color: var(--rougef);
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: auto;
}

  /*--------------------------------------------------------- 
# Section Héro 
---------------------------------------------------------*/

  /*--------------------------------------------------------- 
# Section Fonctionnalités 
---------------------------------------------------------*/