/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/

  /*--------------------------------------------------------- 
# Nav Bar
---------------------------------------------------------*/

.navbar{
  background-color: var(--noir);
  position: relative;
}

.logo{
  width:25vw;
}

.util{
  width:7vw;
  border-color: var(--noir);
}

.footer{
  width: 100vw;
  height: auto;
  background-color: var(--rougef);
  position: absolute;
  bottom:0px;
}

.tim{
  width:30vw;
}

  /*--------------------------------------------------------- 
# Research Bar 
---------------------------------------------------------*/
.recherche{
  background-color: var(--noir);
}

.search{
  position: relative;
  width:75vw;
  background-color: var(--noir);

}

.bi{
  position: absolute;
  top:calc(20%);
  left:2rem;
}

.form-control{
left: .5rem;
padding-left: 3.5rem;
}

  /*--------------------------------------------------------- 
# Filtres d'oeuvres
---------------------------------------------------------*/

.blist{
  overflow: hidden;
  list-style-type: none;
}

.btn{
  margin: 7px;
}

  /*--------------------------------------------------------- 
# Oeuvres en vedette
---------------------------------------------------------*/

  /*--------------------------------------------------------- 
# Autres oeuvres
---------------------------------------------------------*/